[MASTER]

# List of plugins (as comma separated values of python module names) to load,
# usually to register additional checkers.
load-plugins=
    pylint_django

django-settings-module=lost_children_backend.settings

ignore=migrations

[MESSAGES CONTROL]
disable=
    import-outside-toplevel,
    missing-module-docstring,
    consider-using-enumerate
